.modalNotice {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  max-width: 335px;
  padding: 40px 28px;
  background: #fff;
}

.imgWrap {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 20px;
}

.image {
  width: 120px;
  height: 120px;
    border-radius: 100px;
  object-fit: cover;
}

.sell {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: 30px;
  padding: 8px 14px;
  width: 52px;
  height: 34px;
  background: #fff4df;
}

.sellText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f6b83d;
}

.cardContent {
}

.cardContentWrapper {
  margin-bottom: 24px;
}

.cardTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  text-align: center;
  margin-bottom: 10px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.cardRating {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #2b2b2a;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardInfoWrapper {
  display: flex;
  gap: 13px;
  margin-bottom: 16px;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.cardInfoText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  margin-bottom: 2px;
}

.cardInfoValue {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
}

.cardDescription {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #2b2b2a;
  text-align: center;
  margin-bottom: 32px;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cardPrice {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  margin-bottom: 20px;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addToBtn {
  outline: none;
  border-radius: 30px;
  padding: 12px 12px;
  max-width: 135px;
  height: 44px;
  background: #f6b83d;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 18px;
  width: 18px;
  stroke-width: 1.5px;
  stroke: #fff;
  fill: none;
  margin-left: 8px;
}

.contactBtn {
  outline: none;
  border-radius: 30px;
  padding: 12px 12px;
  max-width: 134px;
  height: 44px;
  background: #fff4df;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .modalNotice {
    max-width: 473px;
    padding: 40px 71px;
    background: #fff;
  }

  .imgWrap {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }
  .image {
    width: 150px;
    height: 150px;
  }

  .cardTitle {
    font-size: 18px;
    line-height: 133%;
  }

  .cardRating {
    font-size: 14px;
    line-height: 143%;
  }

  .cardContentWrapper {
    margin-bottom: 20px;
  }

  .cardInfoWrapper {
 
    gap: 27px;

  }

  .cardInfoText {
    margin-bottom: 4px;
  }

  .cardDescription {
    margin-bottom: 28px;
  }

  .addToBtn {
    padding: 14px 14px;
    max-width: 160px;
    height: 48px;
  }

  .contactBtn {
    padding: 14px 14px;
    max-width: 160px;
    height: 48px;
  }
}
