.btn {
  border-radius: 30px;
  padding: 12px 12px;
  width: 100%;
  height: 42px;
  background: #f6b83d;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #fbe7c1;
}

@media screen and (min-width: 768px) {
  .btn {
  
    padding: 16px 157px;
    width: 424px;
    height: 52px;
    font-size: 16px;
    line-height: 125%;
  }
}
