.filtersForm {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  /* width: 335px;
    height: 378px; */
  background: #fff4df;
  padding: 20px;
}

.frame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;

  margin-bottom: 12px;
}

.frameFormSelect {
  border-radius: 30px;

  padding: 0 12px;
  width: 143px;
  height: 42px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.filtersFormField {
  margin-bottom: 12px;
}

.typeFormSelect {
  border-radius: 30px;
  padding: 10px 20px 10px 12px;
  width: 295px;
  height: 42px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}


.locationFormField {
  /* border-radius: 30px;
padding: 12px 22px 12px 12px;
width: 295px;
height: 42px;
background: #fff; */
margin-bottom: 40px;
}

.filtersFormLocationSelect{
  border-radius: 30px;
  /* padding: 12px 22px 12px 12px;
  width: 295px;
  height: 42px;
  background: #fff;
  border-radius: 30px;
  padding: 12px 228px 12px 12px;
  width: 295px;
  height: 42px;
  background: #fff; */
}

/* .filtersFormLocationSelect::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
} */



/* .filtersFormSelect,
.filtersFormLocationSelect {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
} */

/* .filtersFormRadioGroup {
  display: flex;
  gap: 0.5rem;
} */

/* .filtersFormRadio {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.filtersFormReset {
  padding: 0.5rem 1rem;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filtersFormReset:hover {
  background-color: #c00;
} */
