.filtersForm {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: #fff4df;
  padding: 20px;
}

.filtersFormWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}
.filtersFormFrame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 12px;
}
.frame {
  max-width: 143px;
  height: 42px;
  border-radius: 30px;
  position: relative;
}

.frameFormSelect {
  border-radius: 30px;
  padding: 0 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.frameFormSelect:hover {
  border: 1px solid #f6b83d;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 18px;
  height: 18px;
  fill: none;
  stroke-width: 1.5px;
  stroke: #262626;
}

.frameType {
  position: relative;
  max-width: 295px;
  height: 42px;
}

.filtersFormField {
  margin-bottom: 12px;
}

.typeFormSelect {
  border-radius: 30px;
  padding: 10px 20px 10px 12px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filtersFormLocationSelect {
  height: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
}

.typeFormSelect:hover {
  border: 1px solid #f6b83d;
}

.locationFormField {
  height: 42px;
  border-radius: 30px;
}

.horizontalLine {
  border: none;
  border-top: 2px solid rgba(38, 38, 38, 0.1);
  margin: 20px 0;
}

.radioGroupContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radioGroup {
  min-width: 66px;
  height: 42px;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: default;
}

.radioLabel {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  cursor: pointer;
}

.radioInput:checked + .radioLabel {
  cursor: default;
  color: #fff;
  background: #f6b83d;
}

.resetButton {
  margin-left: 8px;
}

.iconClose {
  stroke-width: 1.5px;
  stroke: #fff;
  width: 18px;
  height: 18px;
}

.resetAllButton {
  border-radius: 30px;
  padding: 12px;
  min-width: 66px;
  height: 42px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .filtersForm {
    padding: 40px 32px;
  }

  .filtersFormWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .frameFormSelect {
    font-size: 16px;
  }
  .typeFormSelect {
    font-size: 16px;
  }

  .filtersFormLocationSelect {
    font-size: 16px;
  }

  .frame {
    max-width: 170px;
    width: 170px;
    height: 48px;
    border-radius: 30px;
    position: relative;
  }

  .filtersFormFrame {
    gap: 16px;
  }

  .frameType {
    max-width: 195px;
    width: 195px;
    height: 48px;
  }

  .filtersFormLocationSelect {
    height: 48px;
    width: 227px;
  }

  .input {
    font-size: 16px;
  }

  .radioGroupContainer {
    gap: 8px;
  }

  .radioLabel {
    height: 48px;
    padding: 14px;
    font-size: 16px;
    line-height: 125%;
    cursor: pointer;
  }

  .resetAllButton {
    padding: 14px;

    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1280px) {
  .filtersForm {
    padding: 40px;
  }

  .frame {
    max-width: 190px;
    width: 190px;
  }
}
