.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
  margin-bottom: 24px;
}

.title > span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: rgba(43, 43, 42, 0.4);
}

.radioGroup {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.radioWrapper {
  display: flex;
  align-items: center;
}

.radioInput {
  display: none;
}

.radioLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 50%;
  padding: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.femaleRadioLabel {
  background: rgba(244, 63, 94, 0.1);
}

.maleRadioLabel {
  background: rgba(84, 173, 255, 0.1);
}

.multipleRadioLabel {
  background: #fff4df;
}

.femaleRadioLabel {
  background: rgba(244, 63, 94, 0.1);
}

.maleRadioLabel {
  background: rgba(84, 173, 255, 0.1);
}

.multipleRadioLabel {
  background: #fff4df;
}

.radioLabel:hover {
  transform: scale(1.1);
}

.radioInput:checked + .femaleRadioLabel {
  background: #f43f5e;
}

.radioInput:checked + .maleRadioLabel {
  background: #54adff;
}

.radioInput:checked + .multipleRadioLabel {
  background: #f6b83d;
}

.iconFame {
  width: 32px;
  height: 32px;
  fill: none;
  stroke-width: 1.5px;
  transition: stroke 0.3s ease, fill 0.3s ease;
}

.femaleIconFame {
  color: #f43f5e;
}
.maleIconFame {
  color: #54adff;
}
.multipleIconFame {
  stroke-width: 1.5px;
  stroke: #f6b83d;
}

.radioInput:checked + .radioLabel .iconFame {
  stroke: #fff;
  color: white;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 68px;
  height: 68px;
  background: #fff4df;
  margin-bottom: 16px;
  align-self: center;
  overflow: hidden;
}

.image {
  width: 100%;
}

.iconFootWrapper {
}

.iconFoot {
  width: 34px;
  height: 34px;
}

.upload {
  display: flex;
  max-width: 295px;
  gap: 8px;
}

.inputUpload {
  outline: none;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 9px 20px 9px 10px;
  width: 100%;
  height: 36px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #262626;
}

.inputUpload:hover,
.inputUpload:focus {
  border: 1px solid #f6b83d;
}

.uploadButton {
  border-radius: 30px;
  padding: 10px;
  width: 117px;
  height: 36px;
  background: #fff4df;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 18px;
  height: 18px;
  fill: none;
}

.input {
  outline: none;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  height: 42px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  margin-top: 10px;
}

.input:hover,
.input:focus {
  border: 1px solid #f6b83d;
}

.dateTypeWrapper {
  display: flex;
  gap: 8px;
}

.birthdayLabel {
  position: relative;
}
.inputDate {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 10px 12px 10px 12px;
  width: 100%;
  height: 42px;
}

.iconCalendar {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
}

.buttons {
  margin-top: 31px;
  display: flex;
  gap: 8px;
  justify-content: end;
}

.button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  border-radius: 30px;
  height: 42px;
}

.backButton {
  color: #262626;
  padding: 12px 34px;
  width: 100px;
  height: 42px;
  background: rgba(38, 38, 38, 0.05);
}

.submitButton {
  padding: 12px 26px;
  width: 100px;
  background: #f6b83d;
  color: #fff;
}

.error {
  color: red;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .title > span {
    font-size: 16px;
    line-height: 125%;
  }

  .radioGroup {
    display: flex;
    gap: 8px;
    margin-bottom: 0;
  }

  .radioLabel {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 86px;
    height: 86px;
    background: #fff4df;
    margin-top: -16px;
    margin-bottom: 12px;
    align-self: center;
  }

  .iconFootWrapper {
  }

  .iconFoot {
    width: 44px;
    height: 44px;
  }

  .upload {
    display: flex;
    max-width: 432px;
    gap: 8px;
  }

  .inputUpload {
    padding: 9px 20px 9px 10px;
    width: 278px;
    height: 42px;
    font-size: 14px;
    line-height: 129%;
  }

  .uploadButton {
    border-radius: 30px;
    padding: 10px;
    width: 146px;
    height: 42px;
    font-size: 14px;
    line-height: 129%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .input {
    padding: 16px;
    width: 432px;
    height: 52px;
    font-size: 16px;
    line-height: 125%;
    margin-top: 18px;
  }

  .dateTypeWrapper {
    display: flex;
    gap: 12px;
  }

  .inputDate {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 10px 20px 10px 12px;
    width: 210px;
    height: 52px;
  }

  .buttons {
    margin-top: 46px;
  }

  .button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    border-radius: 30px;
    height: 42px;
  }

  .backButton {
    color: #262626;
    padding: 12px 34px;
    width: 100px;
    height: 42px;
    background: rgba(38, 38, 38, 0.05);
  }

  .submitButton {
    padding: 12px 26px;
    width: 100px;
    background: #f6b83d;
    color: #fff;
  }
}
