.logoWrapper {
  display:inline-block;
  width: 78px;
  height: 20px;
  z-index: 1;
}

.text {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}
.iconHome {
  width: 17px;
  height: 17px;
  padding: 0;
  fill: #fff;
  vertical-align: middle;
}
.icon {
  width: 17px;
  height: 17px;
  padding: 0;
  fill: #f6b83d;
  vertical-align: middle;
}

.otherPage {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
}
@media screen and (min-width: 768px) {
  .logoWrapper {
    width: 105px;
    height: 28px;
  }

  .text {
    font-size: 28px;
  }
  .otherPage {
    font-size: 28px;
  }

  .iconHome {
    width: 21px;
    height: 21px;
  }
  .icon {
    width: 21px;
    height: 21px;

  }
}
@media screen and (min-width: 1280px) {

}

