/* Header.module.css */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}

.burgerWrapper {
  display: block;
  z-index: 20;
}

.sidebar {
  display: none;
  position: absolute; 
  top: -28px;
  right: -100%; 
  width: 218px;
  height: 100vh;
  /* background-color: rgba(255, 255, 255, 0.95);  */
  background: #fff;
  backdrop-filter: blur(5px); 
  transition: right 0.3s ease;
  /* box-shadow: -4px 0px 15px rgba(0, 0, 0, 0.1); */
  z-index: 10; 
  padding: 236px 20px 40px 20px;
}

.sidebar.open {
  right: 0; 
  display: block;
}
.navWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 100%; 
}
.navWrapper > :first-child {

  margin-bottom: auto;
}



@media screen and (min-width: 768px) {
.sidebar{
  width: 374px;
}
.wrapper {
  padding-left: 32px;
  padding-right: 32px;

}
}

@media screen and (min-width: 1280px) {
  .burgerWrapper {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar.open {
    display: none;
  }



}

