.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: var(--padding-left, 0);
  padding-right: var(--padding-right, 0);
}

.wrapperHomePage {
  --padding-left: 20px;
  --padding-right: 20px;
}

.navWrapperTablet {
  margin-left: auto;
  /* z-index: 1; */
}

.burgerWrapper {
  display: block;
  margin-left: 12px;
  z-index: 20;
}

.sidebar {
  display: none;
  position: absolute;
  top: -28px;
  right: -100%;
  width: 218px;
  height: 100vh;
  background: #fff;
  backdrop-filter: blur(5px);
  transition: right 0.3s ease;
  box-shadow: -4px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 236px 20px 40px 20px;
}

.sidebar.sidebarYellow {
  background: #f6b83d;
}

.sidebar.open {
  right: 0;
  display: block;
}
.navWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.navWrapper > :first-child {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {

  .sidebar {
    width: 374px;
  }

  .wrapperHomePage {
    --padding-left: 32px;
    --padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
 
  }

  .wrapperHomePage {
    --padding-left: 64px;
    --padding-right: 64px;
  }

  .burgerWrapper {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar.open {
    display: none;
  }

  .navWrapperTablet {
   display: flex;
   flex-grow: 1;
   margin-left: 313px;
   flex-direction: row;
   justify-content: space-between;
  }
}

