.burgerMenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
  width: 28px;
}

.burgerLineWhite {
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease;
  width: 100%;
}

.burgerLineBlack {
  height: 4px;
  background-color: #000;
  border-radius: 2px;
  transition: transform 0.3s ease;
  width: 100%;
}

.burgerLineWhite.open:nth-child(1),
.burgerLineBlack.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: #000;
}

.burgerLineWhite.open:nth-child(2),
.burgerLineBlack.open:nth-child(2) {
  opacity: 0;
}

.burgerLineWhite.open:nth-child(3),
.burgerLineBlack.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: #000;
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 30px;
  }
}
