.cardItem {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: auto;
  border-radius: 16px;
  padding: 24px;
}

.image {
  border-radius: 15px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
 
}

.cardContentWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.cardTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  text-align: left;
}

.starIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: auto;
}

.cardRating {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #2b2b2a;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cardInfoWrapper {
  display: flex;;
  margin-bottom: 16px;
  justify-content: space-between;
}
.cardInfo {
}

.cardInfoText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  margin-bottom: 2px;
}

.cardInfoValue {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
}

.cardDescription {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #2b2b2a;
  padding-bottom: 16px;
  text-align: left;
}

.cardFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;

}


.cardPrice {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  margin-bottom: 12px;
  text-align: left;
}

.buttonWrapper {
  display: flex;
gap: 10px;

}

.learnMoreBtn {
  border-radius: 30px;
  padding: 14px 14px;
  width: 100%;
  height: 46px;
  background: #f6b83d;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}

.favoriteBtn {
  border-radius: 30px;
  padding: 14px;
  width: 46px;
  height: 46px;
  background: #fff4df;
}


.icon {
  height: 18px;
  width: 18px;
  fill: none;
  stroke-width: 1.5px;
  stroke: #f6b83d;
}

@media screen and (min-width: 768px) {
  .cardItem {
    width: 100%;
  }

  .learnMoreBtn {
    padding: 14px 14px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }
  .cardInfoWrapper {
    justify-content:flex-start;
    gap: 13px;
  }

}

@media screen and (min-width: 1280px) {
  .cardItem {
    width: 100%;
  }

  .cardTitle {
    font-size: 18px;
    line-height: 133%;
  }

  .cardPrice {
    font-size: 18px;
    line-height: 133%;
  }
}
