.addPetPage {
  padding-top: 26px;
  padding-bottom: 20px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 213px;
  border-radius: 30px;
  margin-bottom: 10px;
  background: url('../../assets/images/image_bg_mob.png') center center / cover
    no-repeat;
    overflow: hidden;
}

.formWrapper {
  border-radius: 30px;
  padding: 28px 20px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .addPetPage {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .imageWrapper {
    background: url('../../assets/images/image_bg_tab.png') center center /
      cover no-repeat;
    background-size: auto;
    border-radius: 60px;
    height: 248px;
    margin-bottom: 16px;
  }

  .formWrapper {
    border-radius: 60px;
    padding: 40px 136px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: flex;
  }

  .imageWrapper {
    background: url('../../assets/images/image_bg_desk.png') center center /
      cover no-repeat;
    height: 654px;
    width: 592px;
    margin-bottom: 0;
    margin-right: 32px;
  }

  .formWrapper {
    padding: 60px 80px;
  }
}
