.logOutBtn {
}

.button {
  border-radius: 30px;
  padding: 12px 30px;
  width: 178px;
  height: 42px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  background: #fff4df;
}

.button:hover {
  transform: scale(1.1);
}
.buttonHome {
  color: #f6b83d;
  background: #fff4df;
}

.buttonHeader {
  background: #f6b83d;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .button {
    border-radius: 30px;
    padding: 15px 15px;
    width: 136px;
    height: 50px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .button.buttonHeader {
    background: #f6b83d;
    color: #fff;
    border: solid 1px;
  }

  .button.buttonHome {
    background: #f6b83d;
    color: #fff;
    color: #f6b83d;
    background: #fff4df;
  }
}
