
.editButton {
  border-radius: 30px;
  padding: 10px;
  width: 38px;
  height: 38px;
  background: #fff4df;
}

.icon{
  stroke-width: 1.50px;
  stroke: #f6b83d;
  fill: none;
  width: 18px;
  height: 18px;
}







  .editButton:hover {
    background-color: #0056b3;
  }
  