*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Manrope', sans-serif;

  --background-color: #fff;
}

#root {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  background: #f9f9f9;
  padding-top: 28px;
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 768px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  #root {
    max-width: 1280px;
  }
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
}

img {
  display: block;
  height: auto;
}
