*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Manrope", sans-serif;
  
  --background-color: #fff;

  /* --primary-color: #f4c550;
  --card-bg-color: #cbded3;
  --secondary-bg-color: #9fb7ce;
  --highlight-color: #e0a39a;
  --warning-color: #f0aa8d;
  --border-color: #9fbaae;
  --shadow-color: #bfd6ea;
  --accent-color: #f4c8ba; */
}


  #root {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    background: #f9f9f9;
    padding-top: 28px;
  
  }


@media screen and (min-width: 768px) {
  #root {
    min-width: 768px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  #root {
    min-width: 1280px;
    
  }
}




body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
}

img {
  display: block;
  height: auto;
}

