.addPet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.addPetTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.addPetLink {
  background: #f6b83d;
  border-radius: 30px;
  padding: 10px 16px;
  width: 103px;
  height: 38px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .addPetTitle {
    font-size: 18px;
    line-height: 133%;
  }

  .addPetLink {
    width: 118px;
    height: 40px;
    font-size: 16px;
    line-height: 125%;
  }
}
