.userBlockHeader {
  display: flex;
  justify-content: space-between;
}

.userLogo {
  display: flex;
  border-radius: 30px;
  padding: 10px 14px;
  width: 80px;
  height: 38px;
  background: #f6b83d;
}

.userLogoText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-right: 4px;
}

.iconUserLogo {
  border-radius: 1px;
  fill: #fff;
  stroke-width: 2px;
  stroke: #fff;
  width: 16px;
  height: 16px;
}

.userTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  margin-bottom: 20px;
}

.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  background-color: #fff4df;
  justify-self: center;
  margin-bottom: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
 
}

.iconUserAvatar {
  border-radius: 1px;
  fill: #f6b83d;
  stroke-width: 2px;
  stroke: #f6b83d;
  width: 40px;
  height: 40px;
}

.linkToEdit {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #262626;
  margin-bottom: 28px;
  text-align: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.userName,
.userEmail,
.userPhone {
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 12px 12px 12px 12px;
  width: 295px;
  height: 42px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}
.userName:disabled,
.userEmail:disabled,
.userPhone:disabled {
  background: #fff;
}

.userName,
.userEmail {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .userAvatar {
    width: 110px;
    height: 110px;
  }

  .userLogoText {
    font-size: 14px;
    line-height: 129%;
  }

  .iconUserLogo {
    width: 18px;
    height: 18px;
  }

  .userInputsGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }

  .userTitle {
    font-size: 18px;
    line-height: 133%;
  }

  .userName,
  .userEmail,
  .userPhone {
    width: 305px;
    height: 52px;
    font-size: 16px;
    line-height: 125%;
  }

  .linkToEdit {
    font-size: 14px;
    line-height: 129%;
  }
}

@media screen and (min-width: 1280px) {
  .userInputsGroup {
    display: flex;
    flex-direction: column;
  }

  .userName,
  .userEmail,
  .userPhone {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 125%;
  }
}
